@font-face {
    font-family: 'Raleway';
    src: url('./static/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./static/Raleway-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}